repos:
  # Terraform
- repo: https://github.com/terraform-docs/terraform-docs
  rev: v0.16.0
  hooks:
  - id: terraform-docs-go
    args: [--output-file, README.md, .]
  - id: terraform-docs-go
    args: [tfvars, hcl, --output-file, terraform.tfvars.example, .]
- repo: https://github.com/gruntwork-io/pre-commit
  rev: v0.1.17
  hooks:
  - id: terraform-fmt
  - id: terraform-validate
    exclude: docs/[^/]+$
  - id: tflint
- repo: https://github.com/tfsec/tfsec
  rev: v1.28.1
  hooks:
  - id: tfsec
  # General
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.4.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
