<!-- BEGIN_TF_DOCS -->
backup_config = {
  "acces_key_id": "blub",
  "bucket": "bucket",
  "region": "eu-central-1",
  "secret_key": "blub2",
  "type": "s3"
}
cluster_networks = {
  "nics": [
    "enp38s0"
  ]
}
cluster_vlans = {
  "harvester-public": {
    "vlans": [
      2
    ]
  },
  "suma": {
    "vlans": [
      3
    ]
  }
}
harvester_cluster_name = "harvey"
harvester_kube_config  = ""
images = {
  "opensuse154": {
    "name": "openSUSE-Leap-15.4.x86_64-NoCloud.qcow2",
    "url": "https://downloadcontent-us1.opensuse.org/repositories/Cloud:/Images:/Leap_15.4/images/openSUSE-Leap-15.4.x86_64-NoCloud.qcow2"
  }
}
rancher2 = ""
teams = {
  "team1": {
    "limits": {
      "limits_cpu": "100m",
      "limits_memory": "100Mi",
      "requests_storage": "1Gi"
    },
    "members": [
      "test"
    ]
  },
  "team2": {
    "limits": {
      "limits_cpu": "100m",
      "limits_memory": "100Mi",
      "requests_storage": "1Gi"
    },
    "members": [
      "test"
    ]
  }
}
<!-- END_TF_DOCS -->