<!-- BEGIN_TF_DOCS -->
agent_vms = {
  "auto_delete": true,
  "cpu": 2,
  "disk_size": "20Gi",
  "memory": "4Gi",
  "number": 0
}
cluster = {
  "agent_args": "--worker --label 'cattle.io/os=linux'",
  "k3s_version": "v1.24.4+k3s1",
  "labels": {},
  "name": "staging",
  "server_args": "--etcd --controlplane --label 'cattle.io/os=linux'"
}
cluster_vlan          = "cluster-vlan"
domain                = "local"
efi                   = true
harvester_kube_config = ""
namespace             = "harvester-public"
rancher2 = {
  "access_key": "",
  "secret_key": "",
  "url": ""
}
server_vms = {
  "auto_delete": true,
  "cpu": 4,
  "disk_size": "20Gi",
  "memory": "16Gi",
  "number": 3
}
ssh_keys = {
  "user1": "ssh-rsa AAAAB3Nza",
  "user2": "ssh-rsa AAAAB3Nza"
}
ssh_user  = "rancher"
vlan_id   = 2
vlan_name = ""
<!-- END_TF_DOCS -->